upstream log {
    server 192.168.72.14:8006;
}

upstream chart {
    server 192.168.72.17:8004;
}

server {
    listen 80;
    listen [::]:80;
    server_name shahgayegh-tvkl.ir;

  
    location /log {
        proxy_pass http://log;
    }

}